In [1]:
import pandas as pd

In [5]:
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [11]:
fruit = ["Apple", "Banana", "Orange"]
index = ["a", "b", "c"]
fruit_name = pd.Series(fruit, index=index)
fruit_name

a     Apple
b    Banana
c    Orange
dtype: object

In [13]:
# Series 1-dimensional data
name = pd.Series(["Rohan", "Jeevan", "Krishna"])
name

0      Rohan
1     Jeevan
2    Krishna
dtype: object

In [15]:
series = pd.Series(["Bmw", "Lamborgini", "RR"])
series

0           Bmw
1    Lamborgini
2            RR
dtype: object

In [17]:
color = pd.Series(["Blue", "Yellow", "Black"])
color

0      Blue
1    Yellow
2     Black
dtype: object

In [19]:
# 2-dimensional series
name = pd.DataFrame({"Car Make":series,"Color":color})
name

     Car Make   Color
0         Bmw    Blue
1  Lamborgini  Yellow
2          RR   Black

In [25]:
fruits = pd.Series(["Apple", "Orange", "Mango"])
fruits

0     Apple
1    Orange
2     Mango
dtype: object

In [33]:
color = pd.Series(["Red", "Yellow", "Green"])
color

0       Red
1    Yellow
2     Green
dtype: object

In [39]:
Fruits_name = pd.DataFrame({"Name":fruits,"Color":color})
Fruits_name

     Name   Color
0   Apple     Red
1  Orange  Yellow
2   Mango   Green