In [11]:
import pandas as pd

In [13]:
fruit = pd.Series(["Apple", "Mango", "Grapes"])
fruit

0     Apple
1     Mango
2    Grapes
dtype: object

In [15]:
color = pd.Series(["Green", "Yellow", "Red"])
color

0     Green
1    Yellow
2       Red
dtype: object

In [21]:
fruits_info = pd.DataFrame({"Name":["LAmbo","RR"],"Color":["Red","Green"]})
fruits_info

    Name  Color
0  LAmbo    Red
1     RR  Green

In [ ]:
car_sales =